.about-section {
  padding: 2.5rem 0;
  background-color: #e0fefe;
}
.about-content {
  display: flex;
  align-items: center;
}

.abouth2 {
  text-align: center;
  font-size: 3rem;
}

.logo {
  width: 20%;
}

.logoImg {
  width: 100%;
}

.name {
  width: 40%;
}

.nameh3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}
