.contact-section {
  padding: 2.5rem;
  background-color: #b5ead7;
}

.contacth2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.25rem;
}

.contacth3 {
  font-size: 1.5rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.right {
  width: 100%;
}

.left {
  width: 100%;
  text-align: center;
}

input,
textarea {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1.2rem;
  color: gray;
  background-color: #e2f0cb;
  border: none;
  border-radius: 8px;
}

label {
  font-size: 1.5rem;
}

textarea {
  min-height: 250px;
  resize: none;
}

.contactButton {
  background-color: #e2f0cb;
  font-size: 2rem;
  display: inline-block;
  border: none;
  padding: 1rem 4rem;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}
