#hero {
    display: flex;
    justify-content: space-around;
    height: 500px;
}

.hero-content {
    margin: 0px;
    padding: 3rem;
    width: 40%;
}

.hero-content h1 {
    font-size: 40px;
}

.hero-content p {
    font-size: 20px;
}

.hero-images-or-video {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -350px;
}

iframe {
    margin-top: 20px;
    margin-right: 100px;
}