/* .hero-section {
  padding: 2.5rem 0;
  font-family: "Poppins", sans-serif;
  color: rgb(33, 33, 37);
  scroll-behavior: smooth;
  background-color: #ffffd8;
}
#hero {
  display: flex;
  justify-content: space-around;
  height: 500px;
}

.hero-content {
  margin: 0px;
  padding: 3rem;
  width: 40%;
}

.hero-content h1 {
  font-size: 40px;
}

.hero-content p {
  font-size: 20px;
}

.hero-images-or-video {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -350px;
}
iframe {
  margin-top: 20px;
  margin-right: 100px;
}
 */

.hero-bg {
  background-color: #ffffd8;
}

.hero-bg .hero {
  min-height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-bg .hero .left-content {
  margin-top: -150px;
  width: 50rem;
  text-align: left;
  margin-left: 50px;
}

.hero-bg .hero .left-content h3 {
  font-size: 3.5rem;
  color: var(--black);
  font-family: "Poppins";
}

.hero-bg .hero .left-content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--black);
  line-height: 2;
}
button.signup-button {
  cursor: pointer;
  background-color: #b8deff;
  color: black;
  border: none;
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  transition: all 0.1s ease-in;
}
.right-content {
  margin-top: -100px;
 
  margin-left: 80px;
}
/* img.step-one,img.step-two,img.step-three,img.step-four {
  border-radius: 100px;
  margin: 20px;
} */

.first-two {
display: flex;
justify-content: center;
align-items: center;
}
.second-two {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container-1 {
    width: 300px;
    height: 200px;
    border-radius: 50px;
    position: relative;
    margin: auto;
    background-image: url(../images/cleanser.png);  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    
    -webkit-box-shadow: 0 0 3px grey;
    box-shadow: 0 0 3px grey;
    
}
  .overlay {
    width: 250px;
    height: 200px;
   opacity: 0;
   color: black;
   transition: all 0.5s;
   font-family: 'Poppins';
  }

.content-head {
    font-size: 35px;
    line-height: 40px;
    transform: translateY(40px);
    transition: all 0.7s;
}
 .content-head p {
  color : black;
  font-family: 'Poppins';
  padding: 10px;
 } 
 
.card-container-1:hover .overlay {
  opacity: 1;
}
  .card-container-1:hover .content-head {
    transform: translateY(10px);
  }

.card-container-2 {
  width: 300px;
  height: 200px;
  border-radius: 50px;
  position: relative;
  background-image: url(../images/moisturize.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  -webkit-box-shadow: 0 0 3px grey;
  box-shadow: 0 0 3px grey;

}
.card-container-2:hover .overlay {
  opacity: 1;
}

.card-container-2:hover .content-head {
  transform: translateY(10px);
}
.card-container-3 {
  width: 300px;
  height: 200px;
  border-radius: 50px;
  position: relative;
  margin-left: 30px;
  margin-top: 20px;
  background-image: url(../images/toning.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  -webkit-box-shadow: 0 0 3px grey;
  box-shadow: 0 0 3px grey;

}

.card-container-3:hover .overlay {
  opacity: 1;
}

.card-container-3:hover .content-head {
  transform: translateY(10px);
}
.card-container-4 {
  width: 300px;
  height: 200px;
  border-radius: 50px;
  position: relative;
  margin-left: 30px;
  margin-top: 20px;
  background-image: url(../images/sunprotect.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  -webkit-box-shadow: 0 0 3px grey;
  box-shadow: 0 0 3px grey;

}

.card-container-4:hover .overlay {
  opacity: 1;
}

.card-container-4:hover .content-head {
  transform: translateY(10px);
}