body {
    background-color: #ffffd8;
}

.single-product {
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    box-shadow: 0 0 5px #ccc;
    background-color: #F8FFE7;
}
.details {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;

}
.details-box h2 {
    font-size: 35px;
}
.details-box {
padding: 30px;
}
.add-to-routine {
    padding: 10px;
    font-weight: bold;
    background-color: grey;
    color: white;
    margin-top: 20px;

}
.big-image img {
    box-shadow: 0 0 5px #ccc;
    width: 600px;
    margin-left: 30px;
    min-height: 800px;
}
.rating {
    font-weight: bold;
}